<br /><br /><br />

<footer class="bg-light fixed-bottom border-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center text-dark pt-2">
                <p><small>fixhop: fixed gear & accesories &copy; 2020 fixhop. All Right Reserved.</small></p>
            </div>
        </div>
    </div>
</footer>