<div class="modal fade" id="messagesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messagesModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if errors}}
                <ul>
                    {{#each errors}}
                    <li style="color:red;">{{this}}</li>
                    {{/each}}
                </ul>
                {{/if}}
                {{#if infos}}
                <ul>
                    {{#each infos}}
                    <li style="color:green;">{{this}}</li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
        </div>
    </div>
</div>