<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index" onclick="Controller.controllers.navbar.home_clicked(event)">
        <img src="/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Fixhop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSuperior"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSuperior">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Bicicletas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="componentesDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Componentes
                </a>
                <div class="dropdown-menu" aria-labelledby="componentesDropdown">
                    <a class="dropdown-item" href="#">Cuadros</a>
                    <a class="dropdown-item" href="#">Horquillas</a>
                    <a class="dropdown-item" href="#">Ruedas</a>
                    <a class="dropdown-item" href="#">Direcci贸n</a>
                    <a class="dropdown-item" href="#">Sillines y tijas</a>
                    <a class="dropdown-item" href="#">Transmisi贸n</a>
                    <a class="dropdown-item" href="#">Frenos</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Accesorios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ropa y equipamiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: tomato;">Rebajas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Novedades</a>
            </li>
        </ul>
        <div class="dropdown-divider"></div>

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="cartDropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mi cesta&nbsp;
                    <span class="badge badge-secondary">{{cartItemCount}}</span>
                    </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="cartDropdown">
                    <a class="dropdown-item" href="cart" onclick="Controller.controllers.navbar.view_cart(event)">Ver</a>
                    <a class="dropdown-item" href="#">Procesar pedido</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario&nbsp;</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    {{#if user}}
                    <a class="dropdown-item" href="#">Perfil</a>
                    <a class="dropdown-item" href="#" onclick="Controller.controllers.navbar.signout_clicked(event)">Cerrar sesi贸n</a>
                    {{else}}
                    <a class="dropdown-item" href="signin" onclick="Controller.controllers.navbar.signin_clicked(event)">Iniciar sesi贸n</a>
                    <a class="dropdown-item" href="signup" onclick="Controller.controllers.navbar.signup_clicked(event)">Registro</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>
</nav>

<header>
    <div class="jumbotron rounded-0 bg-cover text-light">
        <div class="container text-center mt-5">
            <div class="row">
                <div class="col">
                    <img src="/images/logo.svg" height="200px" width="200px" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="display-3">fixhop</h1>
                    <p>Fixed gear bikes & accesories</p>
                </div>
            </div>
        </div>
    </div>
</header>