{{> message-partial}}
{{> navbar-partial user=user cartItemCount=cartItemCount}}
<div class="container">
    <div class="display-4 mt-3 text-center">Más buscados</div>
    <div class="row">
        {{#each products}}
            {{> product-partial this addToCart_onclick="Controller.controllers.index.addToCart_clicked"}}
        {{/each}}
    </div>
</div>
{{> footer-partial}}