{{> message-partial}}
{{> navbar-partial user=user cartItemCount=cartItemCount}}
<div class="container">
    <div class="display-4 mt-3 text-center">M치s buscados</div>
    <div class="row">
        {{#each products}}
            {{> product-partial user=../user product=this addToCart_onclick="Controller.controllers.index.addToCart_clicked"}}
        {{/each}}
    </div>
</div>

<div class="modal fade" id="notLoggedIn" tabindex="-1" role="dialog" aria-labelledby="notLoggedInLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notLoggedInLabel">No hay ninguna sesi칩n activa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Debes iniciar sesi칩n para a침adir productos a la cesta
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{{> footer-partial}}